cairocffi==1.6.0
CairoSVG==2.7.0
cffi==1.15.1
cssselect2==0.7.0
defusedxml==0.7.1
html5lib==1.1
markdown2==2.4.2
Pillow==9.5.0
pycparser==2.21
Pygments==2.10.0
pyphen==0.14.0
six==1.16.0
tinycss2==1.2.1
txt2pdf==0.7.1
WeasyPrint==52.5
webencodings==0.5.1
